<div class="fields">
  <p>
  <p>Location
  <%= link_to_remove_fields "remove", f %><br />
  </p>
  <%= f.label :number, "Street Number" %><br />
  <%= f.text_field :number %><br />
  <%= f.label :address, "Address" %><br />
  <%= f.text_field :address %>
  </p>
</div>