<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>
<ol>
    <% for location in @company.locations %>
      <li>
        <%= location.number %>
        <%= location.address %>
      </li>
  <% end %>
</ol>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
