<p id="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @location.company_id %>
</p>

<p>
  <b>Number:</b>
  <%= @location.number %>
</p>

<p>
  <b>Address:</b>
  <%= @location.address %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
